<div class="pl-sm-4 ml-sm-5">
    <p>I help manufacturers of connected products make sense of EU cybersecurity regulation:
    the Cyber Resilience Act, the RED Delegated Act, and the security standards behind them.</p>

    <p>I drive the development and certification of secure connected products and contribute to global product security standards through my work with
    <a href="https://www.cencenelec.eu/">CEN-CENELEC</a>,
    the <a href="https://csa-iot.org/">Connectivity Standards Alliance</a>, and
    the <a href="https://www.itu.int/en/Pages/default.aspx">International Telecommunication Union</a>.</p>

    <p>New to the CRA? <a href="/cra/">Start with the Cyber Resilience Act guide</a>,
    learn more <a href="/about/">about</a> me, or <a href="/index.xml">subscribe</a> via RSS.
    You can also <a href="/contact/">contact</a> me.</p>
</div>
