<div class="pl-sm-4 ml-sm-5">
          <p>I am cybersecurity expert experienced in driving connected product security development and certification. I am also an active contributor to the standardization of product security at <a href="https://www.cencenelec.eu/">CEN-CENELEC</a>, <a href="https://csa-iot.org/">CSA</a> and <a href="https://www.itu.int/en/Pages/default.aspx">ITU</a>.</p>
          <p>You can <a href="/contact/">contact</a> me, learn more <a href="/about/">about</a> me or <a href="/index.xml">subscribe</a> via RSS to my posts.</p>
</div>
