<div class="pl-sm-4 ml-sm-5">
    <p>I am a cybersecurity expert who drives the development and certification of secure connected products. I actively contribute to shaping global product security standards through my work with <a href="https://www.cencenelec.eu/">CEN-CENELEC</a>, the <a href="https://csa-iot.org/">Connectivity Standards Alliance</a>, and the <a href="https://www.itu.int/en/Pages/default.aspx">International Telecommunication Union</a></p>

    <p>You can <a href="/contact/">contact</a> me, learn more <a href="/about/">about</a> me or <a href="/index.xml">subscribe</a> via RSS to my posts.</p>
</div>
