<head>
    {{ $title := .Site.Title }}
    {{ if not .IsHome }}{{ $title = printf "%s | %s" .Title .Site.Title }}{{ end }}
    {{ $description := .Site.Params.description }}
    {{ with .Description }}{{ $description = . }}{{ end }}
    {{ $image := "avatar.png" | absURL }}
    {{ with .Params.images }}{{ $image = index . 0 | absURL }}{{ end }}
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ $description }}">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ $image }}">
    {{ if not .IsHome }}
    {{ $published := .Date.Format "2006-01-02T15:04:05Z07:00" }}
    {{ $modified := .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}
    <meta property="article:published_time" content="{{ $published }}">
    <meta property="article:modified_time" content="{{ $modified }}">
    {{ end }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{ $image }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}index.xml" title="{{ .Site.Title }}">

    {{/* Adds complete override capability */}}
    {{ $overrideTemplate := resources.Get "sass/override.scss" }}
    {{ $override := $overrideTemplate | resources.ExecuteAsTemplate "css/theme.scss" . | toCSS | minify }}
    <link rel="stylesheet" href="{{ $override.RelPermalink }}">

    {{/* Adds custom styles capability */}}
    {{ $customTemplate := resources.Get "sass/custom.scss" }}
    {{ if $customTemplate }}
    {{ $custom := $customTemplate | resources.ExecuteAsTemplate "css/custom.scss" . | toCSS | minify }}
    <link rel="stylesheet" href="{{ $custom.RelPermalink }}">
    {{ end }}

    {{ template "_internal/google_analytics.html" . }}
</head>
